@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
    width: 100%;
}

:root {
    --jauneMain: #ecb325;
}

.yellowColor {
    color: var(--jauneMain);
}

.yellowBackground {
    background-color: var(--jauneMain);
}

nav {
    display: flex;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--jauneMain);
    position: fixed;
    width: 35px;
    border-radius: 50px;
    min-height: 300px;
    z-index: 5;
}

nav > img {
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: filter 0.4s;
}

nav > img:hover {
    filter: invert(0.5);
}

.active {
    filter: invert(1);
}

nav > img:first-child {
    margin-top: 15px;
}

nav > img:last-child {
    margin-bottom: 15px;
}

nav > span {
    border-left: 1.5px dotted black;
    height: 30px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.goal {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.leftGoal {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rightGoal {
    height: 100%;
    width: 47%;
    background-color: #928f96;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightGoal > img {
    max-width: 100%;
}

.leftGoal > h1 {
    font-size: 3.5rem;
    font-weight: 750;
}

.leftGoal > h2 {
    font-size: 2rem;
    font-weight: 750;
}

.leftGoal > h3 {
    max-width: 70%;
    display: flex;
    justify-content: center;
    padding: 2px;
}


.leftGoal > * {
    margin: 30px 0 0 90px;
}

.boutonJaune {
    background-color: var(--jauneMain);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.4s;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.boutonJaune > img {
    width: 20px;
    margin-left: 15px;
}

.boutonJaune:hover {
    background-color: black;
}

.invert {
    filter: invert(1);
}

.leftGoal > .boutonJaune {
    width: 170px;
}


.aPropos {
    min-height: 100vh;
}

.separationAccueil {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
}

.separationAccueil > div:not(.bandeau) {
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.separationAccueil > div:not(.bandeau) > section {
    width: 93%;
    padding-right: 7%;
    padding-bottom: 50px;
    padding-top: 50px;
}


.bandeau {
    height: 100vh;
    width: 20%;
    background-color: var(--jauneMain);
    position: sticky;
    z-index: 5;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.bandeau > img {
    width: 100%;
}

.bandeau > .summary {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary > h4 {
    margin: 0;
    transition: color 0.4s;
    cursor: pointer;
}

.summary > h4:hover {
    color: #d3d3d3;
}

.summary > .textActive {
    color: white;
}

.summary > span {
    border-left: 1.5px dotted black;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.summary > .rond {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
}


.aPropos {
    padding-top: 30px;
}


.enTete {
    margin-top: 5px;
    width: 90%;
    text-align: center;
    font-size: 2em;
    border: 1px solid black;
    padding: 10px;
}

.enTete > * {
    margin: 0;
}

.light {
    font-weight: normal;
}

.infosPropos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.gridPropos {
    width: 55%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: black;
}

.gridPropos > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0.5px white;
}

.gridPropos > div > h1 {
    color: var(--jauneMain);
    font-size: 3em;
    margin: 0;
}

.gridPropos > div > p {
    font-size: 0.7em;
}

.wrapPropos {
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapPropos > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.wrapPropos > div > img {
    width: 70px;
}

.wrapPropos > div > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

.wrapPropos > div > div > h3 {
    margin: 0;
    font-size: 1em;
}

.wrapPropos > div > div > p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.wrapBoutonsPropos {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}


.competences {
    min-height: 100vh;
}


.chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    width: 250px;
}

.circle-bg {
    fill: none;
    stroke: #363636;
    stroke-width: 1;
}

.circle {
    fill: none;
    stroke-width: 2;
    stroke: var(--jauneMain);
    /* bords arrondis */
    stroke-linecap: round;
}

.percentage {
    fill: #363636;
    font-size: 0.5em;
    text-anchor: middle;
    font-weight: bold;
}

@keyframes progress {
    0% {
        stroke: transparent;
        stroke-dasharray: 0 100;
    }
}
