<section class="goal" id="section1">

    <nav>
        <img id="icon1" class="active icon" src="../Ressources/img/accueil.png" alt="" onclick="redirectTo('section1')">
        <span></span>
        <img id="icon2" class="icon" src="../Ressources/img/utilisateur.png" alt="" onclick="redirectTo('section2')">
        <span></span>
        <img id="icon3" class="icon" src="../Ressources/img/competences.png" alt="" onclick="redirectTo('section3')">
        <span></span>
        <img id="icon4" class="icon" src="../Ressources/img/projet.png" alt="" onclick="redirectTo('section4')">
        <span></span>
        <img id="icon5" class="icon" src="../Ressources/img/statistiques.png" alt="" onclick="redirectTo('section5')">
        <span></span>
        <img id="icon6" class="icon" src="../Ressources/img/chronologie.png" alt="" onclick="redirectTo('section6')">
    </nav>

    <div class="leftGoal">
        <h2>BONJOUR !</h2>
        <h1>JE SUIS <span class="yellowColor">THOMAS</span></h1>
        <h3 class="yellowBackground">ÉTUDIANT DE 3E ANNÉE EN INFORMATIQUE</h3>
        <p>Je m'appelle Thomas Loye, je suis étudiant en informatique à l'IUT de Montpellier Sète, en parcours
            Réalisation d'applications, conception, développement.</p>
        <div onclick="redirectTo('section2')" class="boutonJaune">En savoir plus <img class="invert"
                                                                                      src="../Ressources/img/bas.png"
                                                                                      alt=""></div>
    </div>

    <div class="rightGoal">
        <img src="../Ressources/img/grosseTete.jpg" alt="">
    </div>


</section>

<div class="separationAccueil">

    <div class="bandeau">
        <img src="../Ressources/img/imagePrincipaleNB.jpg" alt="">

        <div class="summary">
            <div class="rond"></div>
            <span></span>
            <h4 onclick="redirectTo('section1')" id="text1" class="text">ACCUEIL</h4>
            <span></span>
            <h4 onclick="redirectTo('section2')" id="text2" class="text">A PROPOS DE MOI</h4>
            <span></span>
            <h4 onclick="redirectTo('section3')" id="text3" class="text">MES COMPETENCES</h4>
            <span></span>
            <h4 onclick="redirectTo('section4')" id="text4" class="text">MES PROJETS</h4>
            <span></span>
            <h4 onclick="redirectTo('section5')" id="text5" class="text">MES STATISTIQUES</h4>
            <span></span>
            <h4 onclick="redirectTo('section6')" id="text6" class="text">MON PARCOURS</h4>
            <span></span>
            <div class="rond"></div>
        </div>

    </div>


    <div>

        <section class="aPropos" id="section2">

            <div class="enTete">
                <h1>A PROPOS DE MOI</h1>
            </div>

            <h1 class="light">Je suis <strong>Thomas Loye</strong>, Étudiant en informatique à l'IUT de Montpellier.
            </h1>
            <p>J'ai découvert le milieu du développement informatique au <strong>lycée</strong>, et j'ai tout de suite
                eu un <strong>grand intérêt</strong> pour ce domaine. J'ai donc poursuivi mon cursus scolaire <strong>en
                    ce sens.</strong></p>
            <p>Je suis <strong>passionné</strong> par le développement d'applications et le <strong>développement
                web</strong>. Vous pourrez retrouver ci-dessous mes projets et mes compétences, ainsi que mon parcours
                et mes ambitions.</p>

            <div class="infosPropos">

                <div class="gridPropos">
                    <div><h1>12+</h1>
                        <p>LANGAGES INFORMATIQUES ÉTUDIÉS</p></div>
                    <div><h1>8</h1>
                        <p>IDEs UTILISÉS RÉGULIÈREMENT</p></div>
                    <div><h1>3</h1>
                        <p>PROJETS D'AMPLEUR RÉALISÉS</p></div>
                    <div><h1>4</h1>
                        <p>PROJETS PERSONNELS RÉALISÉS</p></div>
                </div>

                <div class="wrapPropos">
                    <div>
                        <img src="../Ressources/img/etudes.png" alt="">
                        <div>
                            <h3>ÉTUDES</h3>
                            <p>Depuis la mi-2024, j'effectue ma troisième et dernière année de Bachelor Universitaire de
                                Technologie à l'IUT de Montpellier, en alternance.</p>
                        </div>
                    </div>
                    <div>
                        <img src="../Ressources/img/permis.png" alt="">
                        <div>
                            <h3>MOBILITÉ</h3>
                            <p>Je suis titulaire du permis B depuis juin 2022 et véhiculé, ce qui m'apporte une certaine autonomie.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapBoutonsPropos">
                <a href="" target="_blank" class="boutonJaune">Télécharger mon CV <img class="invert"
                                                                                       src="../Ressources/img/telecharger.png"
                                                                                       alt=""> </a>
                <a href="www.linkedin.com/in/thomas-loye-b9a615264" target="_blank" class="boutonJaune">Mon Linkedin
                    <img class="invert" src="../Ressources/img/redirect.png" alt=""> </a>
                <a href="mailto:thomasloye1@gmail.com" class="boutonJaune">Me Contacter <img class="invert"
                                                                                             src="../Ressources/img/mail.png"
                                                                                             alt=""> </a>
            </div>

        </section>


        <section class="competences" id="section3">
            <div class="enTete">
                <h1>MES COMPÉTENCES</h1>
            </div>

            <div class="gridCompetences">

                <div class="card">
                    <div class="circle-animation-number">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text data-number="65" x="18" y="20.35" class="percentage">PHP</text>
                        </svg>
                    </div>

                    <div class="content">
                        <h3>PHP 8</h3>
                        <p>Bases apprises en 2022. Étudié davantage en BUT.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="circle-animation-number">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text data-number="95" x="18" y="20.35" class="percentage">HTML</text>
                        </svg>
                    </div>

                    <div class="content">
                        <h3>HTML 5</h3>
                        <p>Bases vues en 2019. Appris complètement en 2022.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="circle-animation-number">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text data-number="80" x="18" y="20.35" class="percentage">CSS</text>
                        </svg>
                    </div>

                    <div class="content">
                        <h3>CSS 3</h3>
                        <p>Bases étudiées en 2019. Consolidé en BUT entre 2023 et 2024.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="circle-animation-number">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text data-number="70" x="18" y="20.35" class="percentage">SQL</text>
                        </svg>
                    </div>

                    <div class="content">
                        <h3>SQL</h3>
                        <p>Appris via MySQL et MariaDB entre 2022 et 2024.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="circle-animation-number">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text data-number="75" x="18" y="20.35" class="percentage">JS</text>
                        </svg>
                    </div>

                    <div class="content">
                        <h3>JavaScript</h3>
                        <p>En cours d'apprentissage depuis 2023.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="circle-animation-number">
                        <svg viewBox="0 0 36 36" class="circular-chart">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text data-number="65" x="18" y="20.35" class="percentage">JAVA</text>
                        </svg>
                    </div>

                    <div class="content">
                        <h3>JAVA 18+</h3>
                        <p>Appris intégralement en 2022 et 2023.</p>
                    </div>
                </div>
            </div>

            <div class="wrapCompetences">

                <div>
                    <img src="../Ressources/img/outils.png" alt="">
                    <div>
                        <h3>OUTILS UTILISÉS</h3>
                        <p>Pour tous mes projets, j'utilise les outils GitLab et GitHub, en complément des IDEs
                            JetBrains, tels que IntelliJ, PhpStorm, WebStorm, PyCharm, DataGrip, etc.</p>
                    </div>
                </div>

                <div>
                    <img src="../Ressources/img/langages.png" alt="">
                    <div>
                        <h3>AUTRES LANGAGES</h3>
                        <p>Lors de mon parcours en BUT informatique, j'ai également étudié les langages TWIG, YAML,
                            C...</p>
                    </div>
                </div>

            </div>

        </section>


        <section class="projets" id="section4">

            <div class="enTete">
                <h1>MES PROJETS</h1>
            </div>

            <br>

            <div class="conteneurVerti">

                <div class="vertical">

                    <img src="Ressources/img/ihm.png" alt="projet">

                    <div class="infosProjets">
                        <div>
                            <h2 class="titreBold">Les Aventuriers du Rail</h2>
                            <h3 class="titre">Application Java - Jeu - JavaFX - IHM - Java 18 - CSS</h3>
                        </div>
                    </div>

                </div>
                <div class="vertical">

                    <img src="Ressources/img/format'iut.png" alt="projet">

                    <div class="infosProjets">
                        <div>
                            <h2 class="titreBold">App web Format'IUT</h2>
                            <h3 class="titre">Site web dynamique - HTML - CSS - PHP - SQL - JS - SCRUM</h3>
                        </div>
                    </div>

                </div>
                <div class="vertical">

                    <img src="Ressources/img/trello.png" alt="projet">

                    <div class="infosProjets">
                        <div>
                            <h2 class="titreBold">Site d'Organisation - TrelloTrollé</h2>
                            <h3 class="titre">Site web dynamique - TWIG - CSS - PHP - JS - SQL - SCRUM</h3>
                        </div>
                    </div>

                </div>
                <div class="vertical">

                    <img src="Ressources/img/cyberpunk.png" alt="projet">

                    <div class="infosProjets">
                        <div>
                            <h2 class="titreBold">Site Web d'un Escape Game</h2>
                            <h3 class="titre">Site web statique - HTML - CSS</h3>
                        </div>
                    </div>

                </div>


            </div>


        </section>


        <section class="wrapStatistiques" id="section5">

            <div class="enTete">
                <h1>MES STATISTIQUES</h1>
            </div>

            <div class="stats">
                <h3 class="titre">Données en heures converties en pourcentages</h3>
                <div>
                    <figure>
                        <embed src="https://wakatime.com/share/@loyet/d96a38d8-e361-49e0-9a74-ae519cbaecf8.svg"></embed>
                        <h3 class="titre">Langages de Programmation utilisés</h3>
                    </figure>
                    <span></span>
                    <figure>
                        <embed src="https://wakatime.com/share/@loyet/c072a122-8708-4514-b512-7ed7fcb50b8e.svg"></embed>
                        <h3 class="titre">Logiciels de Programmation (IDEs) utilisés</h3>
                    </figure>
                </div>
                <h4 class="titreFin data">Temps de code tous langages et IDEs confondus, depuis le 5 décembre 2023 : <img src="https://wakatime.com/badge/user/018c3a39-c0b0-45a5-bd13-e6b59361621b.svg" alt="Total time coded since Dec 5 2023" /></h4>
                <h5 class="titre">*Données fournies par WakaTime, analysées depuis le 5 décembre 2023.</h5>
            </div>

        </section>

        <section class="wrapParcours" id="section6">

            <div class="enTete">
                <h1>MON PARCOURS</h1>
            </div>

            <img src="../Ressources/img/frise.png" alt="">

        </section>


    </div>
</div>


<footer>

    <div class="contacts">
        <h1 class="titre">Me Contacter</h1>
        <a target="_blank" href="https://www.linkedin.com/in/thomas-loye-b9a615264/">
            <img src="../Ressources/img/linkedin.png" alt="">
            <h3 class="titre">Thomas Loye</h3>
        </a>

        <a target="_blank" href="mailto:thomasloye1@gmail.com">
            <img src="../Ressources/img/gmail.png" alt="">
            <h3 class="titre">thomasloye1@gmail.com</h3>
        </a>
    </div>

    <div class="credits">
        <h2 class="titre">Thomas Loye - © 2024</h2>
        <h3 class="titre">V 2.0.0</h3>
        <h5 class="titre">Version Septembre 2024</h5>
        <h5 class="titre">(Work In Progress)</h5>
        <h5 class="titre">Sources : Freepik & Flaticon</h5>
    </div>

</footer>




