<div class="goal">

    <div class="leftGoal">
        <h2>BONJOUR !</h2>
        <h1>JE SUIS <span class="yellowColor">THOMAS</span></h1>
        <h3 class="yellowBackground">ÉTUDIANT DE 3E ANNÉE EN INFORMATIQUE</h3>
        <p>Je m'appelle Thomas Loye, je suis étudiant en informatique à l'IUT de Montpellier Sète, en parcours Réalisation d'applications, conception, développement.</p>
        <a href="" class="boutonJaune">En savoir plus</a>
    </div>

    <img src="../Ressources/img/imagePrincipaleNB.jpg" alt="" class="rightGoal">


</div>