<section class="goal" id="section1">

    <nav>
        <img id="icon1" class="active icon" src="../Ressources/img/accueil.png" alt="">
        <span></span>
        <img id="icon2" class="icon" src="../Ressources/img/utilisateur.png" alt="">
        <span></span>
        <img id="icon3" class="icon" src="../Ressources/img/accueil.png" alt="">
        <span></span>
        <img id="icon4" class="icon" src="../Ressources/img/accueil.png" alt="">
        <span></span>
        <img id="icon5" class="icon" src="../Ressources/img/accueil.png" alt="">
    </nav>

    <div class="leftGoal">
        <h2>BONJOUR !</h2>
        <h1>JE SUIS <span class="yellowColor">THOMAS</span></h1>
        <h3 class="yellowBackground">ÉTUDIANT DE 3E ANNÉE EN INFORMATIQUE</h3>
        <p>Je m'appelle Thomas Loye, je suis étudiant en informatique à l'IUT de Montpellier Sète, en parcours
            Réalisation d'applications, conception, développement.</p>
        <a href="" class="boutonJaune">En savoir plus</a>
    </div>

    <div class="rightGoal">
        <img src="../Ressources/img/imagePrincipaleNB.jpg" alt="">
    </div>


</section>

<div class="separationAccueil">

    <div class="bandeau">
        <img src="../Ressources/img/imagePrincipaleNB.jpg" alt="">

        <div class="summary">
            <div class="rond"></div>
            <span></span>
            <h4 id="text1" class="text">ACCUEIL</h4>
            <span></span>
            <h4 id="text2" class="text">A PROPOS DE MOI</h4>
            <span></span>
            <h4 id="text3" class="text">MES COMPETENCES</h4>
            <span></span>
            <h4 id="text4" class="text">MON PARCOURS</h4>
            <span></span>
            <h4 id="text5" class="text">ME CONTACTER</h4>
            <span></span>
            <div class="rond"></div>
        </div>

    </div>


    <div>

        <section class="aPropos" id="section2">

            <div class="enTete">
                <h1>A PROPOS DE MOI</h1>
            </div>

            <h1 class="light">Je suis <strong>Thomas Loye</strong>, Étudiant en informatique à l'IUT de Montpellier.</h1>
            <p>J'ai découvert le milieu du développement informatique au lycée, et j'ai tout de suite eu un grand intérêt pour ce domaine. J'ai donc poursuivi mon cursus scolaire en ce sens.</p>
            <p>Je suis passionné par le développement d'applications et le développement web. Vous pourrez retrouver ci-dessous mes projets et mes compétences.</p>

            <div class="infosPropos">

                <div class="gridPropos">
                    <div><h1>12+</h1><p>LANGAGES INFORMATIQUES ÉTUDIÉS</p></div>
                    <div><h1>8</h1><p>IDEs UTILISÉS RÉGULIÈREMENT</p></div>
                    <div><h1>3</h1><p>PROJETS D'AMPLEUR RÉALISÉS</p></div>
                    <div><h1>4</h1><p>PROJETS PERSONNELS RÉALISÉS</p></div>
                </div>

            </div>

        </section>

    </div>
</div>